.confirmationContainer {
  border: 1px solid #ccc;
  padding: 20px;
  width: 400px;
  margin: auto;
  text-align: center;
}

.confirmationHeader {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.confirmationMessage {
  margin-bottom: 20px;
}

.buttonContainer {
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-around; /* Coloca los botones en los extremos */
}

.confirmationButton {
  background-color: #f0f0f0;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin: 10px;
}

.confirmationButton:hover {
  background-color: #e0e0e0;
}
